ServicoBiclas/wsdl/station_1_0.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!--
    WSDL contract for a Biclas Station service.

    This WSDL defines the operations provided by the Web Service, and should not be modified.

    For more information, see sections
    wsdl:service, wsdl:portType, wsdl:types and wsdl:binding below
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.station.biclas.org/"
    targetNamespace="http://ws.station.biclas.org/" name="StationWebService">
    <types>
        <xs:schema targetNamespace="http://ws.station.biclas.org/"
            version="1.0">

            <!-- main service operations data types -->

            <xs:complexType name="coordinatesView">
                <xs:sequence>
                    <xs:element name="x" type="xs:int" />
                    <xs:element name="y" type="xs:int" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="stationView">
                <xs:sequence>
                    <xs:element name="id" type="xs:string" />
                    <xs:element name="coordinate" type="tns:coordinatesView" />
                    <xs:element name="capacity" type="xs:int" />
                    <xs:element name="totalGets" type="xs:int" />
                    <xs:element name="totalReturns" type="xs:int" />
                    <xs:element name="availableBiclas" type="xs:int" />
                    <xs:element name="freeDocks" type="xs:int" />
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getInfo">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="getInfo" type="tns:getInfo" />

            <xs:complexType name="getInfoResponse">
                <xs:sequence>
                    <xs:element name="stationInfo" type="tns:stationView" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getInfoResponse" type="tns:getInfoResponse" />

            <xs:complexType name="getBicla">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="getBicla" type="tns:getBicla" />

            <xs:complexType name="getBiclaResponse">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="getBiclaResponse" type="tns:getBiclaResponse" />

            <xs:complexType name="returnBicla">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="returnBicla" type="tns:returnBicla" />

            <xs:complexType name="returnBiclaResponse">
                <xs:sequence>
                    <xs:element name="returnBicla" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="returnBiclaResponse" type="tns:returnBiclaResponse" />

            <xs:complexType name="NoBiclaAvail">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NoBiclaAvail" type="tns:NoBiclaAvail" />

            <xs:complexType name="NoSlotAvail">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="NoSlotAvail" type="tns:NoSlotAvail" />


            <!-- test control operations data types -->

            <xs:complexType name="test_ping">
                <xs:sequence>
                    <xs:element name="input_message" type="xs:string"
                        minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="test_ping" type="tns:test_ping" />

            <xs:complexType name="test_ping_response">
                <xs:sequence>
                    <xs:element name="return" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="test_ping_response" type="tns:test_ping_response" />

            <xs:complexType name="test_clear">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="test_clear" type="tns:test_clear" />

            <xs:complexType name="test_clear_response">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="test_clear_response" type="tns:test_clear_response" />

            <xs:complexType name="test_init">
                <xs:sequence>
                    <xs:element name="x" type="xs:int" />
                    <xs:element name="y" type="xs:int" />
                    <xs:element name="capacity" type="xs:int" />
                    <xs:element name="return_prize" type="xs:int" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="test_init" type="tns:test_init" />

            <xs:complexType name="test_init_response">
                <xs:sequence />
            </xs:complexType>
            <xs:element name="test_init_response" type="tns:test_init_response" />

            <xs:complexType name="BadInit">
                <xs:sequence>
                    <xs:element name="message" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="BadInit" type="tns:BadInit" />

        </xs:schema>
    </types>

    <!-- Messages (use elements defined in the schema) -->

    <!-- main service messages -->
    <message name="getInfo">
        <part name="parameters" element="tns:getInfo" />
    </message>
    <message name="getInfoResponse">
        <part name="parameters" element="tns:getInfoResponse" />
    </message>

    <message name="getBicla">
        <part name="parameters" element="tns:getBicla" />
    </message>
    <message name="getBiclaResponse">
        <part name="parameters" element="tns:getBiclaResponse" />
    </message>

    <message name="returnBicla">
        <part name="parameters" element="tns:returnBicla" />
    </message>
    <message name="returnBiclaResponse">
        <part name="parameters" element="tns:returnBiclaResponse" />
    </message>

    <message name="NoSlotAvail">
        <part name="fault" element="tns:NoSlotAvail" />
    </message>
    <message name="NoBiclaAvail">
        <part name="fault" element="tns:NoBiclaAvail" />
    </message>

    <!-- test control messages -->
    <message name="test_ping">
        <part name="parameters" element="tns:test_ping" />
    </message>
    <message name="test_ping_response">
        <part name="parameters" element="tns:test_ping_response" />
    </message>

    <message name="test_clear">
        <part name="parameters" element="tns:test_clear" />
    </message>
    <message name="test_clear_response">
        <part name="parameters" element="tns:test_clear_response" />
    </message>

    <message name="test_init">
        <part name="parameters" element="tns:test_init" />
    </message>
    <message name="test_init_response">
        <part name="parameters" element="tns:test_init_response" />
    </message>

    <message name="BadInit">
        <part name="fault" element="tns:BadInit"/>
    </message>


    <!-- Port Type (Interface) -->
    <portType name="StationPortType">
        <!-- main service operations -->
        <operation name="getInfo">
            <input wsam:Action="http://ws.station.biclas.org/Station/getInfoRequest"
                message="tns:getInfo" />
            <output wsam:Action="http://ws.station.biclas.org/Station/getInfoResponse"
                message="tns:getInfoResponse" />
        </operation>

        <operation name="getBicla">
            <input wsam:Action="http://ws.station.biclas.org/Station/getBiclaRequest"
                message="tns:getBicla" />
            <output wsam:Action="http://ws.station.biclas.org/Station/getBiclaResponse"
                message="tns:getBiclaResponse" />
            <fault message="tns:NoBiclaAvail" name="NoBiclaAvail"
                wsam:Action="http://ws.station.biclas.org/Station/getBicla/Fault/NoBiclaAvail" />
        </operation>

        <operation name="returnBicla">
            <input wsam:Action="http://ws.station.biclas.org/Station/returnBiclaRequest"
                message="tns:returnBicla" />
            <output wsam:Action="http://ws.station.biclas.org/Station/returnBiclaResponse"
                message="tns:returnBiclaResponse" />
            <fault message="tns:NoSlotAvail" name="NoSlotAvail"
                wsam:Action="http://ws.station.biclas.org/Station/returnBicla/Fault/NoSlotAvail" />
        </operation>

        <!-- test control operations -->
        <operation name="test_ping">
            <input wsam:Action="http://ws.station.biclas.org/Station/test_ping_request"
                message="tns:test_ping" />
            <output wsam:Action="http://ws.station.biclas.org/Station/test_ping_response"
                message="tns:test_ping_response" />
        </operation>

        <operation name="test_clear">
            <input wsam:Action="http://ws.station.biclas.org/Station/test_clear_request"
                message="tns:test_clear" />
            <output wsam:Action="http://ws.station.biclas.org/Station/test_clear_response"
                message="tns:test_clear_response" />
        </operation>

        <operation name="test_init">
            <input wsam:Action="http://ws.station.biclas.org/Station/test_init_request"
                message="tns:test_init" />
            <output wsam:Action="http://ws.station.biclas.org/Station/test_init_response"
                message="tns:test_init_response" />
            <fault message="tns:BadInit" name="BadInit"
                wsam:Action="http://ws.station.biclas.org/Station/test_init/Fault/BadInit" />
        </operation>
    </portType>

    <!-- SOAP/HTTP Binding -->
    <binding name="StationPortBinding" type="tns:StationPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"
            style="document" />

        <!-- main service operations -->
        <operation name="getInfo">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="getBicla">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="NoBiclaAvail">
                <soap:fault name="NoBiclaAvail" use="literal" />
            </fault>
        </operation>

        <operation name="returnBicla">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="NoSlotAvail">
                <soap:fault name="NoSlotAvail" use="literal" />
            </fault>
        </operation>

        <!-- test control operations -->
        <operation name="test_ping">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="test_clear">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>

        <operation name="test_init">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BadInit">
                <soap:fault name="BadInit" use="literal" />
            </fault>
        </operation>

    </binding>

    <!-- Service -->
    <service name="StationService">
        <port name="StationPort" binding="tns:StationPortBinding">
            <soap:address location="http://localhost:8081/station-ws/endpoint" />
        </port>
    </service>
</definitions>
